data/Otevrena-data-NR-07-01-incidence-prevalence-zhoubne-nadory-regiony-cr-2024-01.csv filter=lfs diff=lfs merge=lfs -text
data/Otevrena-data-NR-07-02-mortalita-zhoubne-nadory-regiony-cr-2024-01.csv filter=lfs diff=lfs merge=lfs -text
data/Otevrena-data-NR-07-03-preziti-novotvary-cr-2024-01.csv filter=lfs diff=lfs merge=lfs -text
